<h1 class="mb-4">Cryptocurrencies</h1>

<%= form_with url: cryptocurrencies_path, method: :get, local: true do %>
  <div class="mb-3">
    <%= label_tag :search, "Search Cryptocurrencies by Name" %>
    <%= text_field_tag :search, params[:search], class: "form-control" %>
  </div>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% if @cryptocurrencies.present? %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Symbol</th>
          <th>Market Cap</th>
          <th>Price</th>
          <th>Volume (24h)</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <% @cryptocurrencies.each do |cryptocurrency| %>
          <tr>
            <td><%= cryptocurrency.name %></td>
            <td><%= cryptocurrency.symbol %></td>
            <td><%= number_to_currency(cryptocurrency.market_cap) %></td>
            <td><%= number_to_currency(cryptocurrency.price) %></td>
            <td><%= number_to_currency(cryptocurrency.volume_24h) %></td>
            <td><%= link_to 'View Details', cryptocurrency_path(cryptocurrency), class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>No cryptocurrencies found.</p>
<% end %>
